<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>740459610244-3n8d0gu8ief4j592qn16akjlmkrrmvm7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.740459610244-3n8d0gu8ief4j592qn16akjlmkrrmvm7</string>
	<key>API_KEY</key>
	<string>AIzaSyD8fokxypObwHcaJkOuDatsyXUmCogq2JI</string>
	<key>GCM_SENDER_ID</key>
	<string>740459610244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flickmemo</string>
	<key>PROJECT_ID</key>
	<string>flickmemo-app</string>
	<key>STORAGE_BUCKET</key>
	<string>flickmemo-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:740459610244:ios:4cd2f2814dc05bc46082d1</string>
</dict>
</plist>